# 二进制文件
sms-forwarder
sms-forwarder-linux-amd64
sms-forwarder-linux-arm64
*.exe
dist/
dist-min/
dist-release/

# 配置文件
config.toml

# 数据文件
sms.json
*.db

# 日志
*.log

# Go
*.test
*.out
vendor/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
